* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
}

#meb h2 {
  color:black;
  margin-bottom: 10px;
  text-align: center;
}
